body, html {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 13px;
	color: #4E595D;
}
h1 {
	color: #444444;
	font-weight: bold;
	margin-bottom: 12px;
}
h2 {
	color: #444444;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}
h3 {
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
}
a, a:link, a:visited, a:active {
	color: #2d5be3;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #2d5be3;
	text-decoration: underline;
	font-weight: bold;
}
/*
*:focus {
	outline: none;
}
*::-moz-focus-inner {
	border: none;
}
*/
.dj_webkit .dijitTextBoxDisabled input {
	color: gray;
}
#toolContainer {
	min-width: 699px;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	margin-bottom: 8px;
	display: table;
	min-height: 0;
	padding: 5px 0px 0px 3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#toolContainer .row {
	clear: both;
	overflow: hidden;
	white-space: nowrap;
}
#toolContainer .row span.label {
	float: left;
	width: 80px;
	padding-left: 5px;
	padding-top: 8px;
	padding-right: 5px;
}
#toolContainer .row span.labelBlanck {
	float: left;
	width: 547px;
	padding-top: 2px;
}
#toolContainer .row span.labelLl {
	float: left;
	width: 39px;
	padding-left: 1px;
	padding-top: 8px;
	padding-right: 4px;
}
#toolContainer .row span.labelIntent {
	float: left;
	width: 53px;
	padding-left: 0;
	padding-top: 8px;
	padding-right: 7px;
}
#toolContainer .row span.labelRadius {
	float: left;
	width: 8px;
	padding-left: 1px;
	padding-top: 8px;
	padding-right: 35px;
}
#toolContainer .row span.formw {
	float: left;
	padding-left: 3px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
}
#toolContainer .row span.button {
	float: left;
}
#toolContainer .row span.arquivo {
	float: left;
	padding-top: 6px;
	padding-left: 12px;
	padding-bottom: 15px;
}
.dijitButton.continue .dijitButtonNode {
	margin-left: -3px;
}
#toolContainer .row span.checkboxes {
	float: left;
	padding-left: 3px;
	padding-bottom: 8px;
	padding-right: 12px;
}
.dijitSelect .dijitButtonText {
	text-align: left;
}
#toolContainer .row span.combobox .dijitTextBox {
	width: 269px;
	overflow: hidden;
}
.tundra .dijitSelect .dijitButtonContents, .tundra .dijitTextBox .dijitButtonNode {
	height: 21px;
	overflow: hidden;
	padding-left: 2px;
}
/*.tundra .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {*/
.tundra .dijitArrowButtonInner {
	margin: 2px 4px;
}
.tundra .dijitInputContainer input {
	margin: 0.2em 0.1em;
}
.dijitInputInner {
	margin-left: 2px !important;
	margin-right: 2px !important;
}
#toolContainer .row span.comboboxes .dijitSelectLabel {
	width: 72px;
	overflow: hidden;
}
.tundra .dijitValidationTextBoxError .dijitValidationIcon {
	margin-right: 2px;
	margin-top: 2px;
}
.dijitValidationTextBoxError input.dijitValidationInner, .dijitSelect input, .dijitTextBox input.dijitArrowButtonInner {
	height: 17px !important;
}
.dijitPlaceHolder {
	left: 2px;
	top: 3px;
}
.tundra .dijitMenuItem td {
	padding: 4px 4px 4px 2px !important;
}
.tundra .dijitDialogCloseIcon {
	top: 4px;
	background-position: center center;
}
.tundra .dijitDialogCloseIconHover {
	background-position: center center;
}
.dijitDialogPaneActionBar {
	margin-left: -3px; margin-top: 8px
}
.checkbox {
	float: left;
	margin-top: 1px;
	margin-bottom: 2px;
}
#toolContainer .row span.textarea {
	float: left;
	padding-left: 3px;
	padding-bottom: 8px;
	padding-top: 4px;
}
.pb_container {
	position: relative;
	margin: 5px 0 5px 0;
}
.pb_bar {
	width: 100%;
	height: 1.3em;
	border: 1px solid;
	border-color: #a2a2a2 #b8b8b8 #b8b8b8 #a2a2a2;
	background: #ffffff url("js/dijit/themes/tundra/images/progressBarEmpty.png") repeat-x center center;
}
.pb_before {
	float: left;
	height: 1.3em;
	background: #abd6ff url("js/dijit/themes/tundra/images/progressBarFull.png") repeat-x center center;
	border-right: 1px solid #b8b8b8;
}
.pb_indeterminate {
	float: left;
	height: 1.3em;
	background: #fff url("js/dijit/themes/tundra/images/progressBarAnim.gif") repeat-x center center;
}
.pb_text {
	padding-top: 0.1em;
	position: absolute;
	left: 48%;
	color: #293a4b;
}
#listContainer {
	width: 1px;
	display: table;
	min-height: 0;
	background-color: #F7F6F6;
	border: 1px solid #cccccc;
	font-size: 12px;
	margin-bottom: 6px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#listContainer .row {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
}
#listContainer .selectbox {
	float: left;
	margin-right: 5px;
	margin-top: 3px;
	position: absolute;
}
#listContainer img {
	height: 16px;
	margin-left: 5px;
	vertical-align: middle;
	width: 16px;
	position: relative;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
#listContainer img:hover {
	opacity: 0.6;
}
#catsContainer {
	width: 357px;
	margin-left: 3px;
	font-size: 12px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#catsContainer .categoria {
	float: left;
	margin-right: 4px;
	margin-bottom: 2px;
	cursor: pointer;
	color: #5A5858;
}
#catsContainer .categoria:hover {
	color: #000000;
}
#treeContainer {
	width: 375px;
	height: 207px;
	font-size: 12px;
	padding-top: 5px;
	margin-bottom: 6px;
	margin-left: 1px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#dlg_cats .dijitDialogPaneContent span.checkbox {
	float: left;
}
.editAllCheckbox {
  margin-left: 3px;
  margin-bottom: 6px;
	font-size: 12px;
}
.flagIcon {
	background-image: url(img/flag.png);
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px;
}
.doesnt_existIcon {
	background-image: url(img/doesnt_exist.png);
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px;
}
.closedIcon {
	background-image: url(img/closed.png);
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px;
}
.inappropriateIcon {
	background-image: url(img/inappropriate.png);
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px;
}
.event_overIcon {
	background-image: url(img/event_over.png);
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px;
}
.exportIcon {
	background-image: url(img/export.png);
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px;
}
.privateIcon {
	background-image: url(img/private.png);
	width: 10px !important;
	height: 10px !important;
	margin-left: 2px;
}
#mapa {
	width: 533px;
	height: 256px;
	resize: both;
	overflow: auto;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	border-radius: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
