body, html {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 90%;
  color: #5A5858;
}
h1 {
  color: #444444;
  font-weight: bold;
  margin-bottom: 12px;
}
h2 {
  color: #444444;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  margin-top:15px;
}
a:link {
  color : #2398c9;
  text-decoration: none;
  font-weight : bold;
}
a:visited {
  color : #2398c9;
  text-decoration: none;
  font-weight : bold;
}
a:active {
  color : #2398c9;
  text-decoration: none;
  font-weight : bold;
}
a:hover {
  color : #2398c9;
  text-decoration: underline;
  font-weight : bold;
}
#toolContainer {
  min-width: 535px;
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  display: table;
  min-height: 0;
  padding: 5px 0px 0px 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#toolContainer .row {
  clear: both;
  overflow: hidden;
  white-space: nowrap;
}
#toolContainer .row span.label {
  float: left;
  width: 80px;
  padding-left: 5px;
  padding-top: 8px;
  padding-right: 5px;
}
#toolContainer .row span.formw {
  float: left;
  padding-left: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
}
#toolContainer .row span.button {
  float: left;
  padding-left: 3px;
  padding-bottom: 2px;
  padding-top: 5px;
}
#toolContainer .row span.arquivo {
  float: left;
  padding-top: 8px;
  padding-left: 12px;
}
#toolContainer .row span.checkboxes {
  float: left;
  padding-left: 3px;
  padding-bottom: 8px;
}
.checkbox {
  float: left;
  margin-top: 1px;
  margin-bottom: 2px;
}
#toolContainer .row span.textarea {
  float: left;
  padding-left: 3px;
  padding-bottom: 8px;
  padding-top: 5px;
}
#listContainer {
  width: 1px;
  display: table;
  min-height: 0;
  background-color: #F7F6F6;
  border: 1px solid #cccccc;
  font-size: 92%;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#listContainer .row {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}
#listContainer img {
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
  width: 16px;
  position: relative;
}
