<?php
	// Set client key and secret
	// IMPORTANTE: Substitua pelos seus valores reais obtidos em https://developer.foursquare.com/
	$client_key = "YOUR_FOURSQUARE_CLIENT_KEY";
	$client_secret = "YOUR_FOURSQUARE_CLIENT_SECRET";
	$redirect_uri = "http://localhost/4sqmet/index.php"; // Ajuste conforme seu ambiente
?>
